<% content_for :page_title, "User Index" %>

<section class="section">
	<div class="container">
		<nav class="level">
			<!-- Left side -->
			<div class="level-left">
				<p class="level-item">
					<%= link_to "Create New User", new_user_path, class: "button is-info" %>
				</p>
			</div>
		</nav>

		<hr>
		<% if @users.any? %>	
			<% @users.each do |user| %>
				<div class="card">
					<div class="card-content">
						<div class="media">
							<div class="media-content">
								<p class="title is-4">
									<%= link_to user.first_name, user %>
								</p>
							</div>
						</div>
						<div class="content">
							<%= user.last_name %>
						</div>
					</div>
				</div>
				<br>
			<% end %>
		<% else %>
			<h1 class="title is-large has-text-centered">No User Record</h1>
		<% end %>
	</div>
</section>